<div class="center jumbotron">
  <h1>Welcome to regulation.io</h1>

  <h2>
    This is the home page for the
    <a href="http://www.railstutorial.org/">regulation.io </a>
    application.
  </h2>

</div>
